@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
h1{
	font-family: Arial;
	font-size: 28pt;
	color: black;
}
p{
	text-align: justify;
	text-indent: 50px;
}
body{  
	background-image: url("fundoCerto.jpg"); 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}




/*Formatação do cabeçalho*/

div#interface {
	width: 1100;
	margin: -10 auto 0 auto;
	box-shadow: 0px 0px 20px #606060;
	background-color: white;
	padding: 10;
}
header#cabecalho img#icon1{
	position: absolute;
	top: 100;
	left: 1100;
	width: 75;
	height: 100;
}
header#cabecalho img#icon2{
	position: absolute;
	top: 85;
	left: 998;
	width: 90;
	height: 125;	
}
header#cabecalho img#icon3{
	position: absolute;
	left: 900;
	top: 95;
	width: 80;
	height: 110;
}
header#cabecalho{
	border-bottom: 1px #606060 solid;

}
header#cabecalho h1{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 28pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
}
header#cabecalho h2{
	font-family: 'Roboto', sans-serif;
	font-size: 20pt;
	color: 888888;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
}





/*Formatação as imagens*/

figure.foto1{
	position: relative; 
}
figure.foto1 img{
	width: 	800px;/*largura*/
	height: 300px;/*altura*/
}
figure.foto2{
	position: relative; 
}
figure.foto2 img{
	width: 	800px;/*largura*/
	height: 300px;/*altura*/
}
figure.foto3{
	position: relative; 
}
figure.foto3 img{
	width: 	800px;/*largura*/
	height: 300px;/*altura*/
}
/*Podemos ajustar algumas cores de fundo ao nosso site como por exemplo
background-color: greenyellow;
Tambem podemos ajustar a cor, quando a intensidade de luz que essa cor possue no vermelho depois no verde e deois no azul:
background-color: #450060;
Tambem podemos ajustar a cor de fundo, nos padrões de rgb:
background-color: rgb(35, 137, 195);
Tambem ajustar a cor da fonte
color: red
E adicionar o rgba na cor, acrecentei o a que é o nível de opacidade, entre 0 e 1;
color: rgba(0, 0, 0, 0.7);*/




/*Formatração do menu */

nav#menu{
	display: block;
}
nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 775px;
}

nav#menu li{
	display: inline-block;
	background-color: #dddddd;
	padding: 10px;
	margin: 2px;
}
nav#menu li:hover{
	background-color: #606060;
	transition: background-color 1s;
}
nav#menu a{
	text-decoration: none;
	color: #000000;
}
nav#menu a:hover{
	color: white;
}
